



.banner{
    background-image: url('/storage/image/buku.jpg');
    background-size: cover; /* Agar gambar menyesuaikan ukuran elemen */
    background-position: center; /* Pusatkan gambar */
    background-repeat: no-repeat; /* Hindari pengulangan gambar */
    height: 89vh; /* Tinggi penuh satu layar */
    width: 100%; /* Lebar penuh */
    overflow-y: hidden;
}